<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWhjGYmnrPJYgkO0FFCLGqxqZC41eKvF0</string>
	<key>GCM_SENDER_ID</key>
	<string>165096775782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mivafox.AwesomeChat</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-project-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-project-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165096775782:ios:bc818b3595bf74199d8da7</string>
</dict>
</plist>